@import "tailwindcss";
@plugin "daisyui";

@theme {
        --color-bgmain: #0e0f12;
        --color-bgdark: #121414;
        --color-bggrey: #171b1a;
        --color-seagreen0: #20b2aa;
        --color-seagreen1: #3cb371;
        --color-skyBlue: #00bfff;
        --color-darkgrey: #999999;
        --color-borderGray: #575757;
}