@import "tailwindcss";
@plugin "daisyui";

@theme {
        --color-bgmain: #0e0f12;
        --color-bgdark: #121414;
        --color-bggrey: #171b1a;
        --color-seagreen0: #20b2aa;
        --color-seagreen1: #3cb371;
        --color-skyBlue: #00bfff;
        --color-darkgrey: #999999;
        --color-borderGray: #575757;
}

.sidebarshadow {
        box-shadow: 0 0 60px rgba(48, 138, 223, 0.247);
}

.myImage {
        box-shadow: 0 0 20px rgba(48, 138, 223, 0.363);
}