@import "tailwindcss";
@plugin "daisyui";


@theme {
        --color-bgmain: #0e0f12;
        --color-bgdark: #121414;
        --color-bggrey: #171b1a;
        --color-seagreen0: #20b2aa;
        --color-seagreen1: #3cb371;
        --color-skyBlue: #00bfff;
        --color-darkgrey: #999999;
        --color-borderGray: #575757;
        --breakpoint-customScreen: 1224px;
}

@media (min-width: 1024px) {
        .sidebarShadow {
                box-shadow: 0 0 20px 5px rgba(135, 207, 235, 0.205);
        }
}

.myImage:hover {
        box-shadow: 0 0 10px 5px rgba(135, 207, 235, 0.205);
}

.titleShadow {
        box-shadow: 0 0 10px rgba(135, 207, 235, 0.205);
}